version: '3.9'

services:

api:
build: .
command: uvicorn backend.app.main:app --host 0.0.0.0 --port 8000
ports:
- "8000:8000"
depends_on:
- db
- redis
- mqtt

mqtt:
image: eclipse-mosquitto
ports:
- "1883 : 1883"

redis:
image: redis

db:
image: postgres
environment:
POSTGRES_PASSWORD: postgres
POSTGRES_DB: iot
